<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aradea.informasi.sevensummitindonesia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sejarah" />
        <activity android:name=".listgunung" />
        <activity android:name=".bukitraya" />
        <activity android:name=".cartenzpyramid" />
        <activity android:name=".kerinci" />
        <activity android:name=".rinjani" />
        <activity android:name=".semeru" />
        <activity android:name=".latimojong" />
        <activity android:name=".faktabinaiya" />
        <activity android:name=".jalurbinaiya" />
        <activity android:name=".faktabukitraya" />
        <activity android:name=".jalurbukitraya" />
        <activity android:name=".faktacartenz" />
        <activity android:name=".jalurcartenz" />
        <activity android:name=".faktakerinci" />
        <activity android:name=".jalurkerinci" />
        <activity android:name=".faktalatimojong" />
        <activity android:name=".jalurlatimojong" />
        <activity android:name=".faktarinjani" />
        <activity android:name=".jalurrinjani" />
        <activity android:name=".faktasemeru" />
        <activity android:name=".jalursemeru" />
        <activity android:name=".petabinaiya" />
        <activity android:name=".petabukitraya" />
        <activity android:name=".petakerinci" />
        <activity android:name=".petacartenz" />
        <activity android:name=".petasemeru" />
        <activity android:name=".petarinjani" />
        <activity android:name=".petalatimojong" />
        <activity android:name=".summit" />
        <activity android:name=".gunungbinaiya" />
        <activity android:name=".erik" />
        <activity android:name=".kansha" />
        <activity android:name=".meilana" />
        <activity android:name=".prabowo" />
        <activity android:name=".rahman"></activity>
    </application>

</manifest>